body {
  font-family:'Cousine', monospace;
}

.nav .wrapper {
  display: flex;
}

.nav .wrapper > * {
  flex: 1;
  padding: 0 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.flex-item {
/*  background: blue;*/
  padding: 10px;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.category-header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -10px;
/*        border: 1px solid #813772;*/
}

/* unvisited link */
a:link {
  color: #062F4F;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #062F4F
}

/* mouse over link */
a:hover {
  color: #062F4F
}

/* selected link */
a:active {
  color: #062F4F;
  text-decoration: none;
}



h1, h2 {
/*  font-family: 'Do Hyeon', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.category-name {
  margin-top: 40px;
}

.nav {
text-align: center;
height: 152px;
box-shadow: 1px 1px 10px rgb(34,34,34);

}

.landing-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.landing-title {
  font-size: 100px;
  color: black;
  letter-spacing: 50px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}

.landing-text {
  font-size: 15px;
  letter-spacing: -1px;
  margin-left: 30%;
  color: white;
}

.navigation {
  display: inline;
  list-style: none;
}

ul {
  list-style: none;
  display: inline;
}

li {
  float: left;
  padding: 10px;
}

.nav-right {
float: right;
}

.space-right {
  padding-right: 25px;
}

.feature-header {
  margin-bottom: 100px;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.feature-text {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  color: grey;
  color: white;
  opacity: .3;
  opacity: 1;
  width: 200px;
  text-transform: uppercase;
}
