body {
  font-family:'Cousine', monospace;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

button {
  font-size: 16px;
  font-family: 'Cousine', monospace;
}

* {
  outline: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}

.footer ul {
  list-style-type: none;
}

.quote-padding {
  padding: 20px;
}

.viewmore:hover,
.product-info button:hover,
.cart button:hover,
.cart a:hover,
.total button:hover {
  color: #89cf7a;
  border: 1px solid #89cf7a;
}

.links:hover {
  color: #89cf7a;
  border: 1px solid #89cf7a;
}

/* Landing page */

.landing-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.landing-title {
  font-size: 100px;
  color: black;
  letter-spacing: 50px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}

.landing-text {
  font-size: 15px;
  letter-spacing: -1px;
  margin-left: 30%;
  color: white;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  align-content: space-between;
}

/* Navigation */

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.nav .wrapper > * {
  flex: 1;
  padding: 0 20px;
  margin: 0;
}


.menu-links-padding {
  padding-bottom: 75px;
  padding-left: 150px;
  padding-right: 150px;
}

.flex-item {
  box-sizing: border-box;
  padding: 10px;
  width: 30%;
  margin: 1.66%;
  text-align: center;
  margin-bottom: 20px;
}

.category-header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -10px;
}

/* unvisited link */
a:link {
  color: #062F4F;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #062F4F
}

/* mouse over link */
a:hover {
  color: #062F4F
}

/* selected link */
a:active {
  color: #062F4F;
  text-decoration: none;
}

.category-name {
  margin-top: 40px;
}

.header-category {
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .5);
}

.nav {
  text-align: center;
  box-shadow: 1px 1px 10px rgb(34,34,34);
  position: relative;
}

.nav ul {
  position: absolute;
}

.nav ul:nth-of-type(1) {
  left: 0;
}

.nav ul:nth-of-type(2) {
  right: 0;
}

.nav li {
  display: inline-block;
  padding: 20px;
}

/* Banner */
.banner {
  width: 100%;
  margin-bottom: 100px;
}

.feature-header {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.feature-text {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  color: grey;
  color: white;
  opacity: .3;
  opacity: 1;
  width: 200px;
  text-transform: uppercase;
}

.all-products {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, .9);
  color: white;
}

/* Products */

.product-top-info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.view-more {
  width: 160px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #000;
  transition: .2s;
}

.single-product {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
}

.single-product > * {
  flex: 1;
  margin-bottom: 40px;
}

.product-info {
  padding: 25px;
  text-align: center;
}

.product-info > *:nth-of-type(1) {
  margin: -40px 0 80px;
}

.product-info label {
  margin: 0 15px 0 0;
}

.location {
  color: #89cf7a;
}

.price {
  margin: 2px;
}

.product-info button {
  border: 1px solid #000;
  margin: 20px auto;
  padding: 10px 0;
  display: block;
  width: 160px;
  transition: .2s;
}

/* Cart */

.cart-container {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}

.cart-container > * {
  padding: 20px;
}

.left-cart {
  width: calc(100% - 300px);
}

.right-cart {
  width: 300px;
}

.cart {
  display: flex;
  padding: 30px 0;
  align-items: center;
  margin: 20px 0;
}

.cart-img {
  width: 150px;
  height: 150px;
}

.cart-product-info {
  padding: 0 30px;
}

.cart h3 {
  margin: 0px;
  padding: 0;
}

.cart button, .cart a {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 10px 10px 0;
  transition: .2s;
  background: transparent;
}

.edit-quantity {
  margin-bottom: 16px;
}

/* Total */

.total {
  padding: 10px 0 50px;
}

.total button {
  display: block;
  width: 130px;
  background: transparent;
  border: 1px solid #000;
  padding: 10px 0;
  margin-left: calc(100% - 130px);
}

/* Recommended */

.recommended {
  margin: 30px 0;
}

.recommended-info {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

/* Profile */

.profile-container {
  display: flex;
}

.side-menu {
  width: 300px;
  text-align: center;
  padding: 0 20px 40px;
  box-sizing: border-box;
}

.portrait-container {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px 30px 0;
  background: #343;
}

.portrait {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.seller-info {
  width: calc(100% - 300px);
  padding: 30px 15px;
  box-sizing: border-box;
}

.profile-information-card-container > div, .field {
  margin-bottom: 20px;
}

.profile-information-card-container > a {
  border: 1px solid #000;
  width: 150px;
  margin: 50px auto 10px;
  padding: 10px 15px;
  display: block;
}

.field input {
  width: 80%;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.warning {
  color: red;
  font-size: 13px;
  margin: 5px 0;
}

.button-container {
  margin: 30px 0 0;
}

.button-container > * {
  border: 1px solid #000;
  display: inline-block;
  padding: 10px 0;
  width: 40%;
  margin: 3%;
}

.form-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10px 80px;
}

.form-content label {
  width: 118px;
  display: inline-block;
}

.form-content input, .form-content select {
  display: inline-block;
  width: calc(100% - 180px);
  font-size: 17px;
}

.form-content select {
  width: calc(100% - 170px);
  background: #fff;
  border: 1px solid #000;
}

.form-content .create {
  display: block;
  width: 150px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #000;
  padding: 10px;
}

.form-content .update-buttons {
  width: 325px;
  margin: 0 auto;
}

.update-buttons > * {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 0 5px;
  background: transparent;
  border: 1px solid #000;
}

.seller-products .update-buttons {
  width: 225px;
  margin: 0 auto;
}

.seller-products .update-buttons > * {
  width: 100px;
}

/* Seller content */
.all-seller-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.seller-products {
  box-sizing: border-box;
  width: 31%;
  margin: 1%;
  border: 2px solid #000;
  text-align: center;
  padding: 0 0 30px;
}

.seller-name {
  margin: 10px 0 3px;
  padding: 0;
}

.seller-description {
  margin: 0;
  padding: 0;
}

.details {
  padding: 20px 0;
}

.details .headers {
  color: darkGreen;
}

.details > * {
  margin: 0;
  padding: 0;
}

/* Media queries */

@media screen and (max-width: 1382px) {
  .seller-products {
    width: 48%;
  }
}

@media screen and (max-width: 942px) {
  .flex-item {
    width: 46%;
    margin: 2%;
  }
}

@media screen and (max-width: 908px) {
  .seller-products {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .nav .wrapper {
    display: block;
  }

  .nav ul {
    position: static;
  }
}

@media screen and (max-width: 810px) {
  .cart-container {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  .left-cart {
    width: 100%;
    box-sizing: border-box;
  }

  .right-cart {
    width: 100%;
    box-sizing: border-box;
  }

  .total {
    width: 300px;
  }

  .recommended-container {
    display: flex;
    flex-wrap: wrap;
  }

  .recommended {
    width: 45%;
    margin: 2%;
  }
}

@media screen and (max-width: 770px) {
  .profile-container {
    display: block;
  }

  .side-menu {
    margin: 0 auto;
  }

  .seller-info {
    width: 100%;
  }

  .seller-products {
    width: 48%;
  }

  .form-content input, .form-content select {
    display: block;
    width: 90%;
    font-size: 17px;
  }
}

@media screen and (max-width: 750px) {
  .single-product {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .flex-item {
    width: 98%;
    margin: 1%;
  }
}

@media screen and (max-width: 602px) {
  .seller-products {
    width: 100%;
  }
}

@media screen and (max-width: 536px) {
  .cart {
    display: block;
    border: 1px solid black;
  }

  .cart-img {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 514px) {
  .recommended {
    width: 100%;
  }
}

@media screen and (max-width: 408px) {
  .form-content .update-buttons {
    width: 100%;
  }

  .form-content .update-buttons > * {
    display: block;
    margin: 10px auto;
  }
}
